#if "$colorMap$" != ""
	refImage( "$colorMap$" );
#else
	refImage( "$white" );
#endif

#include "commonsetup.template"

techniqueSet( "@customString@" );

textureTable
{
	#if "$colorMap$" != ""
		"colorMap" = map( "@tileColor@", "@filterColor@", "$colorMap$", @nopicmipColor@ ) "@formatColor@" : "colorMap";
	#endif
}
